.venv
.nox
.git
.github
.idea
.ruff_cache
.pytest_cache
.DS_Store
__pycache__
*.pyc
.tmp_dagster_home_*
logs/
build/
dist/
wheels/
*.egg-info
src/bonuschef/sql/target/
src/bonuschef/sql/logs/
src/bonuschef/sql/dbt_packages/
tests/
noxfile.py
.env
