.venv
.env
**/sql/logs
**/sql/target
**/sql/dbt_packages
**/sql/.user.yml
**/__pycache__
**/.pytest_cache
**/logs
.nox
.tmp*
*.vscode
.idea/
.dlt/secrets.toml
*.py[cod]
build/
dist/
wheels/
*.egg-info
.DS_Store
# AH member tokens written by bonuschef.utils.ah_login / AHTokenManager
ah_tokens.json
.coverage
coverage.xml
htmlcov/
