.venv
.env
**/sql/logs
**/sql/target
**/sql/dbt_packages
**/sql/.user.yml
**/__pycache__
**/.pytest_cache
**/logs
.nox
.tmp*
*.vscode
.idea/
.dlt/secrets.toml
*.py[cod]
build/
dist/
wheels/
*.egg-info
